.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;

  &__label {
    display: block;
    color: #555;
    font-weight: 600;
    margin-bottom: 8px;
    .required {
      color: red;
    }
  }
  &__input {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    border: 2px solid #e1e5e9;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    &.is-invalid {
      border-color: red;
    }
  }
}

.error-message {
  color: red;
  font-style: italic;
}
