@use "../../../../assets//styles/abstracts" as *;
@use "../../../../assets//styles/base" as *;

.wrapper {
  @extend .container;
  display: flex;
  flex-direction: column;
}

#header {
  padding: 8px 20px;
  height: 64px;
  display: flex;
  background-color: $primary-color;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: 20px;
    color: $secondary-color;
    font-weight: bold;
    text-align: center;
  }
}

/* --------- Footer style ----------- */
#footer {
  background-color: var(--main-color);
  height: 60px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}
